
.seitenmenue
  position: relative
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  border-right: 4px solid rgba(#000, 0.7)

  .beaconInfoContainer
    display: block
    width: 100%
    min-height: 4em
    height: auto
    border-bottom: 3px solid #333
    background: #777
    margin: 6px
    color: #fff

    .beaconInfo
      font-size: 1.5em
      padding: 2%

    .biName
      display: block
      //background: rgba(33, 48, 152, 0.79)

    .biDescription
      display: block
      //background: rgba(10, 30, 150, 0.5)
