.mitte {
  display: inline-block;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 1%;
  width: 65%; }
  .mitte .kartenContainer {
    z-index: 10;
    height: auto;
    position: relative;
    width: 100%; }
    .mitte .kartenContainer #bildContainer {
      position: relative;
      width: 100%; }
      .mitte .kartenContainer #bildContainer img {
        position: relative;
        width: 100%;
        height: auto; }
    .mitte .kartenContainer .bildUpload form input {
      font-size: 2em;
      display: block;
      margin: 3% 5%;
      background: #404040;
      border: 2px solid #4d4d4d;
      border-radius: 5px;
      padding: 2%;
      color: white !important; }
      .mitte .kartenContainer .bildUpload form input:hover {
        background: gray; }
    .mitte .kartenContainer .bildUpload form input[type='file'] {
      width: 100%; }
    .mitte .kartenContainer .bildUpload form .errorClass {
      border: 2px solid #f44; }
    .mitte .kartenContainer .bildUpload form .error {
      font-size: 1.3em;
      margin-left: 5%;
      color: #f44; }
    .mitte .kartenContainer .bildUpload form label {
      display: block;
      padding: 1em;
      padding-bottom: 0.7em;
      font-size: 1.5em;
      color: #545554; }
      .mitte .kartenContainer .bildUpload form label input {
        color: white !important;
        margin-top: 1%;
        display: block;
        margin-left: 0;
        width: 50%;
        height: 2em;
        font-size: 1.5em;
        color: #111;
        line-height: 1.5em;
        border: 2px solid #545554;
        border-radius: 4px; }
      .mitte .kartenContainer .bildUpload form label .errorClass {
        border: 2px solid #f44; }
      .mitte .kartenContainer .bildUpload form label .error {
        font-size: 0.7em;
        color: #f44; }

.pError {
  margin-top: 10%;
  padding: 2%;
  text-align: center;
  font-size: 3em;
  color: #CEF900;
  border: 3px solid #7D0707;
  border-radius: 10px;
  background: rgba(159, 6, 6, 0.79);
  animation: error 2000ms ease-in-out infinite; }
@keyframes error {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
#pHochgeladen {
  font-size: 1.7em;
  position: relative;
  width: 15em;
  padding: 1%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  border: 1px solid #222222;
  background: #00ff00; }

.animate {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-top: 5px solid #ff9105;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  animation: load 2s linear infinite; }

@keyframes load {
  0% {
    transform: rotate(0deg) scale(0.8); }
  50% {
    transform: rotate(180deg) scale(1.2); }
  100% {
    transform: rotate(360deg) scale(0.8); } }
.beaconContainer {
  position: absolute;
  font-size: 10px !important; }

.beacon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2.5px;
  background: #00f;
  border: 2px solid black;
  z-index: 5; }
  .beacon:hover {
    width: 12px;
    height: 12px;
    border: 3px solid #22f; }

.actualBeacon {
  background: #ff0 !important; }

.specialBeacon {
  background: #0f0; }

/*# sourceMappingURL=EditorKartenContainer.css.map */
