@import "EditorSeitenmenue"
@import "EditorKartenContainer"
@import "EditorFormFeld"
html, body
  height: 100%
  width: 100%
  background: rgba(#868C91, 0.69)

  .navbar
    margin-bottom: 0

  .content
    height: auto

    .publishMap
      position: absolute
      right: 8%
      bottom: 3%
      z-index: 1000

      .textPublishMap
        float: left
        font-size: 1.5em
        font-weight: bold
        line-height: 5.5em
        background: rgba(#0EE22F, 0.77)
        border: 2px solid #666
        border-radius: 10px
        //display: none

      button
        background: rgba(#FFFFFF, 0)
        &:hover
          background: rgba(#0EE22f, 70)
        .miPublish
          font-size: 8em
          border: 1px solid #000
          border-radius: 50%
          background: rgba(#FFFFFF, 70)
          &:hover
            background: rgba(#0EE22f, 70)
    .seite
      position: absolute
      bottom: 0
      top: 50px
      display: inline-block
      height: inherit
      width: 20%
      background: #FFFFFF


    .seite-links
      transform: translate(-100%)
      &.animate-in
        animation: seite-linksIn 200ms ease-in-out forwards
        @keyframes seite-linksIn
          0%
            transform: translate(-100%)
          100%
            transform: translate(0%)

    .seite-rechts
      transform: translate(100%)
      &.animate-in
        animation: seite-rechtsIn 200ms ease-in-out forwards
        @keyframes seite-rechtsIn
          0%
            transform: translate(100%)
          100%
            transform: translate(-100%)
