#database {
  width: 200px;
  height: 200px;
  z-index: 200;
  border: 2px solid #000;
  background: #999; }

#bildContainer {
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  border: 2px solid black;
  background: #eee; }
  #bildContainer .bild {
    position: absolute;
    margin-left: auto;
    margin-right: auto; }
  #bildContainer .beacon {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #f44;
    border: 2px solid black;
    z-index: 3; }
    #bildContainer .beacon:hover {
      width: 12px;
      height: 12px;
      border: 3px solid #22f; }
  #bildContainer .actualBeacon {
    background: #2f2; }
  #bildContainer .beaconBearbeiten {
    position: absolute;
    display: inline-block;
    width: 250px;
    height: auto;
    background: #bbb;
    border: 2px solid black;
    z-index: 50;
    opacity: 0;
    display: inline-block; }
    #bildContainer .beaconBearbeiten.fensterFadeOut {
      display: none; }
    #bildContainer .beaconBearbeiten.fensterFadeIn {
      transform-origin: left;
      z-index: 50;
      display: inline-block;
      animation: fensterFadeIn 200ms ease-in-out forwards; }
@keyframes fensterFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
    #bildContainer .beaconBearbeiten .feld, #bildContainer .beaconBearbeiten .name, #bildContainer .beaconBearbeiten .besonders, #bildContainer .beaconBearbeiten .infos {
      padding: 2%;
      padding-bottom: 5%;
      border-bottom: 2px solid #555;
      z-index: inherit; }
    #bildContainer .beaconBearbeiten .name {
      background: #aeaeae; }
      #bildContainer .beaconBearbeiten .name label {
        font-size: 1em;
        margin-left: 1%;
        color: #00002b; }
      #bildContainer .beaconBearbeiten .name input {
        font-size: 1em;
        text-align: left;
        background: #b6b6b6; }
    #bildContainer .beaconBearbeiten .besonders {
      background: #d5d5d5; }
      #bildContainer .beaconBearbeiten .besonders .specialPlace {
        border-bottom: 1px solid #bbb; }
        #bildContainer .beaconBearbeiten .besonders .specialPlace fieldset {
          font-size: 1em;
          width: 50%;
          border: none;
          display: inline; }
        #bildContainer .beaconBearbeiten .besonders .specialPlace label {
          font-size: 1em;
          margin-left: 1%;
          display: inline;
          color: #00002b; }
        #bildContainer .beaconBearbeiten .besonders .specialPlace .dropDown {
          font-size: 2em;
          float: right;
          margin-top: 3%; }
          #bildContainer .beaconBearbeiten .besonders .specialPlace .dropDown:hover {
            cursor: pointer; }
          #bildContainer .beaconBearbeiten .besonders .specialPlace .dropDown.rotateArrow {
            transform: rotateX(180deg); }
      #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces {
        margin-left: 0; }
        #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open {
          display: block; }
          #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset {
            display: block;
            animation: fieldsetFadeIn 1000ms cubic-bezier(0.41, 0.82, 0.57, 1.42) forwards; }
@keyframes fieldsetFadeIn {
  0% {
    height: 0; }
  80% {
    height: 170px; }
  100% {
    height: auto; } }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList {
              padding-left: 0; }
              #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList li {
                display: block;
                opacity: 0; }
                #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList li:nth-child(1) {
                  animation-name: menu-in;
                  animation-duration: 300ms;
                  animation-delay: -150ms;
                  animation-timing-function: ease-in-out;
                  animation-fill-mode: forwards; }
@keyframes menu-in {
  0% {
    opacity: 0;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateX(0deg); } }
                #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList li:nth-child(2) {
                  animation-name: menu-in;
                  animation-duration: 300ms;
                  animation-delay: 0ms;
                  animation-timing-function: ease-in-out;
                  animation-fill-mode: forwards; }
@keyframes menu-in {
  0% {
    opacity: 0;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateX(0deg); } }
                #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList li:nth-child(3) {
                  animation-name: menu-in;
                  animation-duration: 300ms;
                  animation-delay: 150ms;
                  animation-timing-function: ease-in-out;
                  animation-fill-mode: forwards; }
@keyframes menu-in {
  0% {
    opacity: 0;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateX(0deg); } }
                #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList li:nth-child(4) {
                  animation-name: menu-in;
                  animation-duration: 300ms;
                  animation-delay: 300ms;
                  animation-timing-function: ease-in-out;
                  animation-fill-mode: forwards; }
@keyframes menu-in {
  0% {
    opacity: 0;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateX(0deg); } }
                #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList li:nth-child(5) {
                  animation-name: menu-in;
                  animation-duration: 300ms;
                  animation-delay: 450ms;
                  animation-timing-function: ease-in-out;
                  animation-fill-mode: forwards; }
@keyframes menu-in {
  0% {
    opacity: 0;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateX(0deg); } }
                #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.open fieldset.dlFieldset ul.dropDownList li:nth-child(6) {
                  animation-name: menu-in;
                  animation-duration: 300ms;
                  animation-delay: 600ms;
                  animation-timing-function: ease-in-out;
                  animation-fill-mode: forwards; }
@keyframes menu-in {
  0% {
    opacity: 0;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 1;
    transform: translateX(0) rotateX(0deg); } }
        #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset {
          display: block;
          animation: fieldsetFadeOut 1000ms cubic-bezier(0.41, 0.82, 0.57, 1.42) forwards; }
@keyframes fieldsetFadeOut {
  0% {
    height: auto; }
  20% {
    height: 170px; }
  100% {
    height: 0; } }
          #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset ul.dropDownList li {
            display: block;
            opacity: 1; }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset ul.dropDownList li:nth-child(1) {
              animation-name: menu-out;
              animation-duration: 400ms;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
@keyframes menu-out {
  0% {
    opacity: 1;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 0;
    transform: translateX(0) rotateX(0deg); } }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset ul.dropDownList li:nth-child(2) {
              animation-name: menu-out;
              animation-duration: 400ms;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
@keyframes menu-out {
  0% {
    opacity: 1;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 0;
    transform: translateX(0) rotateX(0deg); } }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset ul.dropDownList li:nth-child(3) {
              animation-name: menu-out;
              animation-duration: 400ms;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
@keyframes menu-out {
  0% {
    opacity: 1;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 0;
    transform: translateX(0) rotateX(0deg); } }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset ul.dropDownList li:nth-child(4) {
              animation-name: menu-out;
              animation-duration: 400ms;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
@keyframes menu-out {
  0% {
    opacity: 1;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 0;
    transform: translateX(0) rotateX(0deg); } }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset ul.dropDownList li:nth-child(5) {
              animation-name: menu-out;
              animation-duration: 400ms;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
@keyframes menu-out {
  0% {
    opacity: 1;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 0;
    transform: translateX(0) rotateX(0deg); } }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces.closeMenu fieldset.dlFieldset ul.dropDownList li:nth-child(6) {
              animation-name: menu-out;
              animation-duration: 400ms;
              animation-timing-function: ease-in-out;
              animation-fill-mode: forwards; }
@keyframes menu-out {
  0% {
    opacity: 1;
    transform: translateX(-30px) rotateX(180deg); }
  100% {
    opacity: 0;
    transform: translateX(0) rotateX(0deg); } }
        #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces fieldset.dlFieldset {
          border: none;
          display: none; }
          #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces fieldset.dlFieldset ul.dropDownList {
            list-style: none;
            padding-left: 0; }
            #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces fieldset.dlFieldset ul.dropDownList li {
              line-height: 1.5em;
              position: relative;
              padding: 1%;
              padding-left: 0;
              font-size: 1em;
              color: grey;
              cursor: pointer;
              display: none; }
              #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces fieldset.dlFieldset ul.dropDownList li:hover {
                padding-left: 1%;
                font-style: italic;
                font-weight: bold; }
              #bildContainer .beaconBearbeiten .besonders .listSpecialPlaces fieldset.dlFieldset ul.dropDownList li .tfSonstiges {
                letter-spacing: 0.1em;
                float: right;
                width: 80%; }
    #bildContainer .beaconBearbeiten .infos {
      height: 5rem;
      background: #c5c5c5; }
      #bildContainer .beaconBearbeiten .infos label {
        font-size: 1.7em;
        margin-left: 1%;
        color: #00002b; }
      #bildContainer .beaconBearbeiten .infos textarea {
        height: 2em;
        width: 99%;
        overflow-y: auto;
        font-size: 1em;
        resize: none;
        background: #cdcdcd; }
        #bildContainer .beaconBearbeiten .infos textarea.tfExpand {
          height: 15em; }
      #bildContainer .beaconBearbeiten .infos .expand {
        font-size: 1rem;
        float: right;
        z-index: 10;
        width: 4em;
        border-left: 5px groove #00f;
        border-bottom: 2px ridge #00a; }
        #bildContainer .beaconBearbeiten .infos .expand:hover {
          cursor: pointer;
          background: #cdcdcd; }
    #bildContainer .beaconBearbeiten .submit {
      height: 2em;
      background: #2f2;
      font-size: 1.5em;
      float: left; }
      #bildContainer .beaconBearbeiten .submit:hover {
        cursor: pointer;
        background: #0f0; }
    #bildContainer .beaconBearbeiten .deleteBeacon {
      font-size: 2em;
      padding: 7px;
      vertical-align: middle;
      text-align: center;
      background: #f22;
      float: left; }
      #bildContainer .beaconBearbeiten .deleteBeacon:hover {
        cursor: pointer; }
    #bildContainer .beaconBearbeiten .close {
      font-size: 2em;
      border: 3px solid #121212;
      border-radius: 40%;
      position: absolute;
      right: -0.7em;
      top: -0.7em;
      background: #898989; }
      #bildContainer .beaconBearbeiten .close:hover {
        border-radius: 50%;
        cursor: pointer;
        font-size: 2.1em;
        transform: rotate(5deg); }

/*# sourceMappingURL=kartebearbeiten.css.map */
