$clrBlue: #2233AA

//================Grid Layout=================
//  Sections

//.section
  clear: both
  padding: 0px
  margin: 0px

//  .col
    display: block
    float: left
    margin: 1% 0 1% 1%

//  .col:first-child
    margin-left: 0

//  Groups
//.group:before, .group:after
  content: ""
  display: table

//.group:after
  clear: both
//.group
  zoom: 1

// Grid of two

//.span_4_of_4
  width: 100%
//.span_3_of_4
  width: 74.6%
//.span_2_of_4
  width: 49.2%
//.span_1_of_4
  width: 23.8%


//@media only screen and (max-width: 480px)
  .col
    margin: 1% 0 1% 0

  //.span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4
    width: 100%


//==============Individual Section===========
html
  height: 100%
body
  background: linear-gradient(80deg, lighten($clrBlue, 40), lighten($clrBlue, 70), lighten($clrBlue, 50) )
  //background: #fafafa
  font-size: 16px
  font-family: fantasy
  overflow-x: hidden
  height: 100%

  p
    text-align: left
    font-size: 1.5rem

  h1
    font-size: 7rem
    margin-left: 20%
  h2
    font-size: 2rem
    color: lighten(#000000, 30)
    margin-left: 1%
    width: 15em
    border-left: 6px groove #999
    background: linear-gradient(90deg, #aaa, #fff, #fff)

  .header
    display: inline-block
    overflow: hidden
    width: 100%
    background: linear-gradient(90deg, #fff, #dddbd3, #fff)
    //background-image: url(../Bilder/DSC_0029.JPG)

    h1
      float: left
      font-size: 5rem
      position: relative
      margin: .5% 0 .5% 10%

    .anmelden
      margin-left: 2%
    .anmelden, .registrieren, .mehr
      float: right
      font-size: 1.3em
      margin-right: 5%
      margin-top: 34px
      &:hover
        cursor: pointer
        margin-top: 32px

  .startInfo
    //@extend .ueberDieApp
    position: relative
    overflow: hidden
    background: red
    clear: both
    height: 80%


    .logo
      display: block
      float: left
      margin: 1% 0 1% 0
      width: 20%

    .bildershow
      display: block
      position: relative
      overflow: visible
      float: left
      margin: 1% 0 1% 5%
      width: 70%
      height: 60%
      background-size: cover
      perspective: 1000px

      .karte
        width: 100%
        max-height: 100%
        position: absolute

        transform-origin: top center

        &.animate-in
          display: block !important
          animation: animate-in 2000ms cubic-bezier(.17,.53,.29,.9) forwards
          @keyframes animate-in
            0%
              opacity: 0
            100%
              opacity: 1
          @keyframes animate-in3
            0%
              transform: rotateX(90deg)
              opacity: 0
            50%
              transform: rotateX(-10deg)
            100%
              transform: rotateX(0deg)
              opacity: 1

          @keyframes animate-in2
            0%
              transform: translateX(100%)
              opacity: 0
            100%
              transform: translateX(0)
              opacity: 1

          @keyframes animate-in1
            0%
              transform: scale(1)
            100%
              transform: scale(0)

        &.animate-out
          display: block !important
          animation: animate-out 2000ms cubic-bezier(.17,.53,.9,.9) forwards
          @keyframes animate-out
            0%
              opacity: 1
            100%
              opacity: 0
          @keyframes animate-out2
            0%
              transform: rotateX(0deg)
              opacity: 1
            100%
              transform: rotateX(-90deg)
              opacity: 0
          @keyframes animate-out1
            0%
              transform: scale(1)
              opacity: 1
            50%
              transform: scale(0)
            100%
              transform: scale(0)
              opacity: 0

    .leitsatz
      display: block
      float: left
      font-size: 5em
      font-family: serif
      font-style: oblique
      margin-left: 5%
      margin-bottom: 2%

  &:before, &:after
    content: ""
    display: table

  &:after
    clear: both

  .ueberDieApp
    position: relative
    //background: lighten(#fafafa, 60)
    width: 80%
    height: auto
    padding: 3%
    padding-bottom: 3%
    margin-left: auto
    margin-right: auto
    border-bottom: 1px groove #666

    .text
      float: left
      width: 60%

    .aboutPicture
      display: inline-block
      float: right
      width: 30%
      margin-left: 5%
      border: 4px groove #666

      img
        width: 100%


  .neueKarte
    @extend .ueberDieApp
    //background: lighten(#000000, 70)
    .clearfix
      .newCardPicture
        display: inline-block
        float: left
        width: 30%
        border: 4px groove #666

        img
          width: 100%

      .text
        float: right
        width: 60%

    .btnNeueKarteHinzufuegen
      display: table

  .footer
    background: #222222
    width: 100%
    height: 2em
    padding: 2%
    color: lighten(#000000, 50)


    span
      margin-left: 10%
      margin-bottom: 10px

      &:hover
        cursor: pointer

a
  text-decoration: none
  color: black


.button
  position: relative
  width: 42%
  min-width: 250px
  margin-top: 2%
  margin-left: auto
  margin-right: auto
  background: $clrBlue
  font-size: 1.7em
  border: 2px solid darken($clrBlue, 10)
  text-align: center
  padding: 1%
  line-height: 1.7em

  p
    display: inline
    font-family: fantasy


  &:hover
    cursor: pointer
    font-family: cursive
    background: lighten($clrBlue, 3)


  .material-icons
    font-size: 3em
    vertical-align: middle

.clearfix:before
  content: " "
  display: table

.clearfix:after
  content: " "
  display: table
  clear: both


//------mobile Devices----
@media only screen and (max-width: 480px)
  .logo,
    width: 20%
  .bildershow
    margin: 1% 0 1% 0.5% !important
    width: 99% !important
  .aboutPicture, .newCardPicture
    width: 90% !important
  .text
    width: 100% !important
  #headerH1
    margin-left: 0
  body
    background: green
  .ueberDieApp, .neueKarte
    width: 100%

  h2
    margin-left: 0em !important


//------medium---------
@media only screen and (max-width: 1000px)
  #headerH1
    width: 100%
  .anmelden, .registrieren, .mehr
    margin-bottom: 2%
